/* цвет фона #FFFFFF; */
/* основной цвет текста #757575;*/
/* цвет заголовков #212121; */
/* цвет при наведении #2196F3; */
/* цвет текста на банере #FFFFFF; */
/* цвет иконок #AFB1B8; */
/* цвет кнопок в портфолио #F5F4FA;*/

:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --hover-color: #2196f3;
  --background-button: #f5f4fa;
  --background-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

/* шапка сайта */
.web-tittle {
  color: var(--title-color);
}
.web {
  color: var(--hover-color);
}
.nav-container .link {
  color: var(--title-color);
}

.nav-container .link:hover,
.nav-container .link:focus {
  color: var(--hover-color);
}

.contacts-conteiner .contact {
  color: var(--primary-text-color);
}

.contacts-conteiner .contact:hover,
.contacts-conteiner .contact:focus {
  color: var(--hover-color);
}

/* секции */
.section-titlle {
  color: var(--title-color);
}

.section .element {
  color: var(--title-color);
  background-color: var(--title-color);
}
.title {
  color: var(--background-color);
}

/*портфолио*/

.background-button {
  background-color: var(--background-button);
  color: var(--title-color);
}

.background-button:hover,
.background-button:focus {
  background-color: var(--hover-color);
  color: var(--background-color);
}
